AI-Powered-Report-Generation
{
  "name": "week 7_capstone_project-pontso_mpholle",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "daysInterval": 7,
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        96
      ],
      "id": "3c0080dc-f4ac-4a6a-b859-0adc7eb5a7cf",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "const metrics = $input.all().map(item => {\n    const data = item.json;\n    return `Date: ${data.Date}, Sales: $${data.Sales}`;\n});\n\nconst reportInput = `The following is the raw data for the weekly report:\\n${metrics.join('\\n')}\\n\\nAnalyze this data and generate a narrative report.`;\n\nreturn [{ json: { reportInput: reportInput } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        96
      ],
      "id": "8876eb30-fe0c-45d1-842d-15e0c607992d",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "models/gemini-2.5-flash",
          "mode": "list",
          "cachedResultName": "models/gemini-2.5-flash"
        },
        "messages": {
          "values": [
            {
              "content": "=Your task is to generate a professional weekly status report based on the provided raw metrics. The report must be formatted using clean, standard HTML for direct embedding into an email body. Do not use any Markdown characters. Ensure the structure uses:\n\nA main title enclosed in <h1> tags.\n\nSection headers enclosed in <h2> tags.\n\nThe Raw Data section must be presented as a simple <table> structure, including <th> for headers.\n\nRaw Data: {{ $json.reportInput }}"
            }
          ]
        },
        "simplify": false,
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        672,
        96
      ],
      "id": "b8eed29a-9701-4b80-a907-e9cb7bcb6519",
      "name": "Message a model",
      "credentials": {
        "googlePalmApi": {
          "id": "mojz6JoGFXE7LIQd",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "pontsompholle@gmail.com",
        "subject": "Weekly  Sales Trends Report",
        "message": "={{ $json.candidates[0].content.parts[0].text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1248,
        0
      ],
      "id": "40b068e8-d00d-4598-b70e-260d65687fa0",
      "name": "Send a message1",
      "webhookId": "29211ac1-482f-4499-9f97-28a3240fe683",
      "credentials": {
        "gmailOAuth2": {
          "id": "3UfqxQD6sspAgJMI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "14eBArKhylKqjzBGMjH_yDUaUgzSB02OCIkaZHD4bWL0",
          "mode": "list",
          "cachedResultName": "Nov '25-Week 1-Trends Analysis",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14eBArKhylKqjzBGMjH_yDUaUgzSB02OCIkaZHD4bWL0/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 752084213,
          "mode": "list",
          "cachedResultName": "Sales",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14eBArKhylKqjzBGMjH_yDUaUgzSB02OCIkaZHD4bWL0/edit#gid=752084213"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        224,
        96
      ],
      "id": "654d7b61-13e8-4d21-b1f9-02436cfaacab",
      "name": "Get row(s) in sheet",
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "lSMKXv6OJxlZcPYw",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "10642730-5dcd-40e7-8f72-9f3c87c22696",
              "leftValue": "={{ $json.candidates[0].content.parts[0].text }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1024,
        96
      ],
      "id": "7ef1d0ee-8afa-4e46-981a-55632abbffd7",
      "name": "If",
      "retryOnFail": false
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09S3LYKQCQ",
          "mode": "list",
          "cachedResultName": "business-analysis-team"
        },
        "text": "🚨 **AUTOMATED REPORT FAILURE ALERT** 🚨  The scheduled weekly business report failed to generate content from the AI.  **Action Required:** Please check the n8n execution log for errors and prepare the report manually.",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        1248,
        192
      ],
      "id": "1b70d9fd-75ea-4ae3-a57e-211087f636ef",
      "name": "Send a message",
      "webhookId": "926278cc-4263-436b-84e1-6ab0a8301187",
      "credentials": {
        "slackOAuth2Api": {
          "id": "R6FQEhKdjrvUcNWJ",
          "name": "Slack account"
        }
      }
    }
  ],
  "pinData": {
    "Message a model": [
      {
        "json": {
          "candidates": [
            {
              "content": {
                "parts": [
                  {
                    "text": "<!DOCTYPE html>\n<html>\n<head>\n    <meta charset=\"UTF-8\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n    <title>Weekly Sales Performance Report</title>\n    <style>\n        body {\n            font-family: Arial, sans-serif;\n            line-height: 1.6;\n            color: #333;\n        }\n        h1 {\n            color: #2c3e50;\n            text-align: center;\n            margin-bottom: 20px;\n        }\n        h2 {\n            color: #34495e;\n            border-bottom: 2px solid #eee;\n            padding-bottom: 5px;\n            margin-top: 30px;\n        }\n        table {\n            width: 100%;\n            border-collapse: collapse;\n            margin-top: 15px;\n            margin-bottom: 20px;\n        }\n        th, td {\n            border: 1px solid #ddd;\n            padding: 8px;\n            text-align: left;\n        }\n        th {\n            background-color: #f2f2f2;\n            color: #555;\n        }\n        p {\n            margin-bottom: 10px;\n        }\n        .summary {\n            background-color: #eaf2f8;\n            border-left: 5px solid #3498db;\n            padding: 15px;\n            margin-bottom: 20px;\n        }\n    </style>\n</head>\n<body>\n\n    <h1>Weekly Sales Performance Report</h1>\n\n    <div class=\"summary\">\n        <p>Dear Team,</p>\n        <p>This report provides an overview of our sales performance for the week ending 2025-11-04. We observed varied daily sales figures, culminating in a strong mid-week performance.</p>\n    </div>\n\n    <h2>Raw Sales Data</h2>\n\n    <table>\n        <thead>\n            <tr>\n                <th>Date</th>\n                <th>Sales</th>\n            </tr>\n        </thead>\n        <tbody>\n            <tr>\n                <td>2025-11-01</td>\n                <td>$8,250.00</td>\n            </tr>\n            <tr>\n                <td>2025-11-02</td>\n                <td>$6,930.00</td>\n            </tr>\n            <tr>\n                <td>2025-11-03</td>\n                <td>$10,560.00</td>\n            </tr>\n            <tr>\n                <td>2025-11-04</td>\n                <td>$7,800.00</td>\n            </tr>\n            <tr>\n                <td>Daily Averages</td>\n                <td>$8,385.00</td>\n            </tr>\n        </tbody>\n    </table>\n\n    <h2>Weekly Performance Analysis</h2>\n\n    <p>For the reporting period from 2025-11-01 to 2025-11-04, our total sales reached <strong>$33,540.00</strong>. The average daily sales for the week stood at <strong>$8,385.00</strong>, indicating a consistent baseline performance.</p>\n\n    <p>A detailed look at the daily figures reveals fluctuations throughout the week:</p>\n    <ul>\n        <li>The week commenced on 2025-11-01 with solid sales of $8,250.00.</li>\n        <li>Sales experienced a slight dip on 2025-11-02, recording $6,930.00, marking the lowest sales day of the period.</li>\n        <li>The peak performance for the week was observed on 2025-11-03, with an impressive <strong>$10,560.00</strong> in sales, significantly exceeding the daily average. This day contributed substantially to the overall weekly total.</li>\n        <li>The week concluded on 2025-11-04 with sales of $7,800.00, which was below the weekly average but still a respectable figure.</li>\n    </ul>\n\n    <p>The strong performance on 2025-11-03 highlights a potential area for further investigation into contributing factors, such as specific promotions, marketing efforts, or customer engagement strategies that were particularly effective on that day.</p>\n\n    <h2>Key Takeaways & Next Steps</h2>\n\n    <p>Overall, the week demonstrated a healthy sales volume, with a notable mid-week surge. While the daily average was met, the variance between the highest and lowest performing days suggests opportunities for optimization.</p>\n    <ul>\n        <li><strong>Identify Success Factors:</strong> Analyze the activities and conditions surrounding the high-performance day (2025-11-03) to replicate successful strategies.</li>\n        <li><strong>Address Low Performance:</strong> Review the factors contributing to lower sales on 2025-11-02 to implement corrective actions or targeted campaigns.</li>\n        <li><strong>Monitor Trends:</strong> Continue to track daily sales closely to identify emerging patterns and respond proactively.</li>\n    </ul>\n\n    <p>We will continue to monitor these metrics closely and strive for consistent growth across all days of the week.</p>\n\n    <p>Regards,</p>\n    <p>The Sales Management Team</p>\n\n</body>\n</html>\n"
                  }
                ],
                "role": "model"
              },
              "finishReason": "STOP",
              "index": 0
            }
          ],
          "usageMetadata": {
            "promptTokenCount": 236,
            "candidatesTokenCount": 1233,
            "totalTokenCount": 2222,
            "promptTokensDetails": [
              {
                "modality": "TEXT",
                "tokenCount": 236
              }
            ],
            "thoughtsTokenCount": 753
          },
          "modelVersion": "gemini-2.5-flash",
          "responseId": "XNAMaebXEJO2xN8P-8SdyAE"
        }
      }
    ]
  },
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message1": {
      "main": [
        []
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "052dd562-495f-4fb4-9cda-e8ef47cc734f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "067df5c92c5963a66bedc322613c8bc76acfb85c9453831a4b5205b88ac82641"
  },
  "id": "jh8fY4wGyXBzzKvT",
  "tags": []
}
